@charset "utf-8";
/* CSS Document */


body{
	padding:0px;
	margin:0px;
	background:#939ead;
	}


#top_bar{
	width:960px;
	height:50px;
	margin:0 auto;
	background:#e71838;
	}



#center_top_bar{
	width:75%;
	height:100%;
	float:left;
	font-size:35px;
	font-family:"Comic Sans MS", cursive;
	color:#FFF;
	text-align:center;
	}

#right_top_bar{
	width:25%;
	height:100%;
	float:left;
	background:#555555;
	text-align:left;
	}


#search_form_field{
	background:#555555;
	width:200px;
	height:42px;
	outline:0;
	border:#555555;
	text-align:center;
	color:#FFF;
	}


#search_form_field_btn{
	color:#FFF;
	outline:0;
	border:#e71838;
	background:#555555;
}




#news_bar{
	width:960px;
	height:30px;
	margin:0 auto;
	background:#eeeeee;
	}


#left_news_bar{
	width:20%;
	height:100%;
	float:left;
	font-size:24px;
	font-family:"Comic Sans MS", cursive;
	color:#e71838;
	text-indent:10px;
	}



#right_news_bar{
	width:80%;
	height:100%;
	float:left;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	color:#e71838;
	text-indent:10px;
	}



#logo{
	width:960px;
	height:500px;
	margin:0 auto;
	background:#FFF;
	}


#left_logo{
	width:25%;
	height:100%;
	float:left;
	}


#right_logo{
	width:75%;
	height:100%;
	float:left;
	}

#menu{
	width:960px;
	height:70px;
	margin:0 auto;
	background:#FFF;
	text-align:center;
	}


#menu ul{
	padding:0px;
	margin:0px;
	list-style:none;
	text-align:center;
z-index:999;
	}


#menu ul li{
	text-align:center;
	display:inline-block;
	width:140px;
	height:50px;
	transition:1s all;
	margin-left:5px;
	margin-right:5px;
	padding:2px;
	}


#menu ul li a {
	transition:1s all;
	display:inline-block;
	text-decoration:none;
	width:100%;
	height:100%;
	color:#000;
	font-size:20px;
	font-family:"Comic Sans MS", cursive;
	line-height:2;
	}

#menu ul li:hover{
	transition:1s all;
	background:#e71838 ;
	border-bottom:5px solid #F00;
}

#menu ul li:hover a{
	transition:1s all;
	color:#FFF ;
}


#menu ul li ol{
	position:absolute;
	margin:0px;
	padding:0px;
	top:70px;
	visibility:hidden;
	overflow:hidden;
}

#menu ul li ol li{
background:#333;
margin-left:-1px;
margin-right:5px;
text-indent:5px;
display:inherit;
text-align:left;
transition:1s all;
padding:0px;
height:50px;
margin-bottom:4px;
position:relative;
}


#sub:hover ol{
visibility:visible;
overflow:visible;
}


#sub:hover ol li{
width:140px;
height:50px;
}


#menu ul li ol li ol{
left:100%;
top:0%;
display:none;
margin-left:5px;
margin-bottom:2px;
}

#menu ul li ol li:hover ol{
display:block;
}



#slider{
	width:960px;
	height:450px;
	margin:0 auto;
	margin-bottom:5px;
	}


#section{
	width:960px;
	height:900px;
	margin:0 auto;
	background:#FFF;
	font-family:"Comic Sans MS", cursive;
	}
	


#message_bar{
	width:100%;
	height:4%;
	background:#e71838;
	text-align:center;
	color:#FFF;
	font-size:24px;
	font-family:"Comic Sans MS", cursive;
	}

#data_bar{
	width:100%;
	height:96%;
	font-size:20px;
	font-family:"Comic Sans MS", cursive;
	}


#left_data_bar{
	width:28%;
	height:100%;
	float:left;
	background:#eeeeee;
	text-align:center;
	color:#e71838;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	}


#left_data_bar ul{
	padding:0px;
	margin:0px;
	list-style:none;
	text-align:left;
}

#left_data_bar ul li{
	list-style:none;
	display:block;
	width:240px;
	height:50px;
	text-indent:10px;
	transition:1s all;
}

#left_data_bar ul li:hover{
	background:#e71838;
	transition:1s all;
}


#left_data_bar ul li a{
	line-height:2;
	display:block;
	width:100%;
	height:100%;
	text-align:left;
	font-size:24px;
	font-family:"Comic Sans MS", cursive;
	color:#e71838;
	text-decoration:none;
}


#left_data_bar ul li:hover a{
	color:#FFF;
	transition:1s all;
}	

	

#admin_operation{
	width:40%;
	height:95%;
	float:left;
	background:#eeeeee;
	text-align:center;
	color:#e71838;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	}


#admin_operation ul{
	padding:0px;
	margin:0px;
	list-style:none;
	text-align:left;
}

#admin_operation ul li{
	list-style:none;
	display:block;
	width:380px;
	height:40px;
	text-indent:10px;
	transition:1s all;
}

#admin_operation ul li:hover{
	background:#e71838;
	transition:1s all;
}


#admin_operation ul li a{
	line-height:2;
	display:block;
	width:100%;
	height:100%;
	text-align:left;
	font-size:20px;
	font-family:"Comic Sans MS", cursive;
	color:#e71838;
	text-decoration:none;
}


#admin_operation ul li:hover a{
	color:#FFF;
	transition:1s all;
}



#admin_pic{
	width:60%;
	height:95%;
	float:left;
	}

#right_data_bar{
	width:72%;
	height:100%;
	float:left;
	}


h1{
	padding:0px;
	margin:0px;
	color:#FFF;

	}


#footer{
	width:960px;
	height:420px;
	margin:0 auto;
	background:#eeeeee;
	}


#left_footer{
	width:25%;
	height:100%;
	float:left;
	}


#center_footer{
	width:50%;
	height:100%;
	float:left;
	}


#right_footer{
	width:25%;
	height:100%;
	float:left;
	}


#top_right_footer{
	width:100%;
	height:50%;
	text-align:center;
	}


#top_right_footer img{
	border:3px solid #333;
}




#bottom_right_footer{
	width:100%;
	height:50%;
	text-align:center;
	}
	



#left_footer ul{
	padding:0px;
	margin:0px;
	list-style:none;
	text-align:left;
}

#left_footer ul li{
	list-style:none;
	display:block;
	width:240px;
	height:50px;
	text-indent:10px;
	transition:1s all;
}

#left_footer ul li:hover{
	background:#e71838;
	transition:1s all;
}


#left_footer ul li a{
	line-height:2;
	display:block;
	width:100%;
	height:100%;
	text-align:left;
	font-size:24px;
	font-family:"Comic Sans MS", cursive;
	color:#e71838;
	text-decoration:none;
}


#left_footer ul li:hover a{
	color:#FFF;
	transition:1s all;
}




#contact_name_field{
	font-size:18px;
	outline:0;
	border:#FFF;
	font-family:"Comic Sans MS", cursive;
	width:200px;
	height:50px;
	text-align:center;
	background:#FFF;
	color:#F00;
	transition:1s all;
	margin-top:5px;
	margin-bottom:5px;
	}


#contact_name_field:hover{
	border-radius:50px;
	transition:1s all;
}







#contact_email_field{
	font-size:18px;
	outline:0;
	border:#cc0000;
	font-family:"Comic Sans MS", cursive;
	width:200px;
	height:50px;
	text-align:center;
	background:#FFF;
	color:#F00;
	transition:1s all;
	margin-top:5px;
	margin-bottom:5px;
	}


#contact_email_field:hover{
	transition:1s all;
	border-radius:50px;
}






#contact_cellno_field{
	font-size:18px;
	outline:0;
	border:#cc0000;
	font-family:"Comic Sans MS", cursive;
	width:200px;
	height:50px;
	text-align:center;
	background:#FFF;
	color:#F00;
	transition:1s all;
	margin-top:5px;
	margin-bottom:5px;
	}


#contact_cellno_field:hover{
	transition:1s all;
	border-radius:50px;
}





#contact_query_field{
	font-size:18px;
	outline:0;
	border:#cc0000;
	font-family:"Comic Sans MS", cursive;
	width:200px;
	height:100px;
	text-align:center;
	background:#FFF;
	color:#F00;
	transition:1s all;
	margin-top:5px;
	margin-bottom:5px;
	}


#contact_query_field:hover{
	transition:1s all;
	border-radius:50px;
}



#btn{
	background:#e71838;
	border:#e71838;
	outline:0;
	color:#FFF;
	font-size:20px;
	font-family:"Comic Sans MS", cursive;
	transition:1s all;
	}

#btn:hover{
	transition:1s all;
	background:#000;
	color:#FFF;
}




#copyright_bar{
	width:960px;
	height:30px;
	background:#e71838;
	margin:0 auto;
	text-align:center;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	color:#FFF;
	}



#insert_movie_form_name{
	width:300px;
	height:40px;
	text-align:center;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	background:#e71838;
	outline:0;
	border:#e71838;
	color:#FFF;
	transition:1s all;
	}


#insert_movie_form_name:hover{
	box-shadow:0px 0px 10px 5px #333333;
	transition:1s all;
}



#insert_movie_form_cast{
	width:300px;
	height:40px;
	text-align:center;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	background:#e71838;
	outline:0;
	border:#e71838;
	color:#FFF;
	transition:1s all;
	}


#insert_movie_form_cast:hover{
	box-shadow:0px 0px 10px 5px #333333;
	transition:1s all;
}

#insert_movie_form_director{
	width:300px;
	height:40px;
	text-align:center;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	background:#e71838;
	outline:0;
	border:#e71838;
	color:#FFF;
	transition:1s all;
	}


#insert_movie_form_director:hover{
	box-shadow:0px 0px 10px 5px #333333;
	transition:1s all;
}



#insert_movie_form{
	width:300px;
	height:40px;
	text-align:center;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	background:#e71838;
	outline:0;
	border:#e71838;
	color:#FFF;
	transition:1s all;
	}


#insert_movie_form:hover{
	box-shadow:0px 0px 10px 5px #333333;
	transition:1s all;
}


#insert_movie_form_desc{
	width:300px;
	height:60px;
	text-align:center;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	background:#e71838;
	outline:0;
	border:#e71838;
	color:#FFF;
	transition:1s all;
	}


#insert_movie_form_desc:hover{
	box-shadow:0px 0px 10px 5px #333333;
	transition:1s all;
}


#insert_movie_form_keyword{
	width:300px;
	height:40px;
	text-align:center;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	background:#e71838;
	outline:0;
	border:#e71838;
	color:#FFF;
	transition:1s all;
	}


#insert_movie_form_keyword:hover{
	box-shadow:0px 0px 10px 5px #333333;
	transition:1s all;
}


#single_movie{
	margin-top:3px;
	margin-bottom:20px;
	width:340px;
	height:350px;
	float:left;
	margin-left:5px;
	font-size:17px;
	text-align:center;
	position:relative;
	overflow:hidden;
	transition:1s all;
	}


#single_movie img{
	box-shadow:0px 0px 5px 5px #666666;
	outline:0;
	
}

	

#caption_single_movie{
	width:100%;
	margin-bottom:15px;
	position:absolute;
	height:75%;
	bottom:-100%;
	transition:1s all;
	text-align:center;
	border-bottom:1px solid #e71838;
	}

#caption_single_movie img{
	border-top-left-radius:50px;
	border-bottom-right-radius:50px;
	border:0;
	
}


#single_movie:hover #caption_single_movie{
	bottom:0%;
	transition:1s all;
	}





